<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="wsDualHttpBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"/>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <services>
      <service name="Intermoda.DataService.Lectura.CentroTrabajo">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lectura.ICentroTrabajo"/>
      </service>
      <service name="Intermoda.DataService.Lectura.CentroTrabajoClasificacion">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lectura.ICentroTrabajoClasificacion"/>
      </service>
      <service name="Intermoda.DataService.Lectura.Grupo">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lectura.IGrupo"/>
      </service>
      <service name="Intermoda.DataService.Lectura.Jornada">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lectura.IJornada"/>
      </service>
      <service name="Intermoda.DataService.Lectura.JornadaDetalle">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lectura.IJornadaDetalle"/>
      </service>
      <service name="Intermoda.DataService.Lectura.Linea">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lectura.ILinea"/>
      </service>
      <service name="Intermoda.DataService.Lectura.LineaDetalle">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lectura.ILineaDetalle"/>
      </service>
      <service name="Intermoda.DataService.Lectura.Modulo">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lectura.IModulo"/>
      </service>
      <service name="Intermoda.DataService.Lectura.ModuloSemana">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lectura.IModuloSemana"/>
      </service>
      <service name="Intermoda.DataService.Lectura.ModuloSemanaOperario">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lectura.IModuloSemanaOperario"/>
      </service>
      <service name="Intermoda.DataService.Lectura.Turno">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lectura.ITurno"/>
      </service>
      <service name="Intermoda.DataService.Lectura.TurnoDetalle">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lectura.ITurnoDetalle"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ProduccionLecturasEntities" connectionString="metadata=res://*/LecturasDataModel.csdl|res://*/LecturasDataModel.ssdl|res://*/LecturasDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ProduccionLecturas;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>