<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="wsDualHttpBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"/>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <services>
      <service name="Intermoda.DataService.Lavanderia.Catalogo">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.ICatalogo"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.Clase">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.IClase"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.CTrabajo">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.ICTrabajo"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.Lavadora">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.ILavadora"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.LavadoraCapacidad">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.ILavadoraCapacidad"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.ObservacionPredefinida">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.IObservacionPredefinida"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.Operacion">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.IOperacion"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.OperacionCentroTrabajo">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.IOperacionCentroTrabajo"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.OperacionPredefinida">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.IOperacionPredefinida"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.Proceso">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.IProceso"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.InstruccionPredefinida">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.IInstruccionPredefinida"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.IngredientePredefinido">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.IIngredientePredefinido"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.SubClase">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.ISubClase"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.ColorIntermoda">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.IColorIntermoda"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.Tela">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.ITela"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.TelaColorIntermoda">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.ITelaColorIntermoda"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.Lavado">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.ILavado"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.OpcionLavado">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.IOpcionLavado"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.CentroTrabajoOpcion">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.ICentroTrabajoOpcion"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.ProcesoCentroTrabajo">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.IProcesoCentroTrabajo"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.OperacionProceso">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.IOperacionProceso"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.IngredienteOperacion">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.IIngredienteOperacion"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.InstruccionOperacion">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.IInstruccionOperacion"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.ObservacionOperacion">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.IObservacionOperacion"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.Secadora">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.ISecadora"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.SecadoraCapacidad">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.ISecadoraCapacidad"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.Maquina">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.IMaquina"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.MaquinaCapacidad">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.IMaquinaCapacidad"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.Planta">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.IPlanta"/>
      </service>
      <service name="Intermoda.DataService.Lavanderia.OrdenProduccionLavanderia">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="Intermoda.DataService.Lavanderia.IOrdenProduccionLavanderia"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="LavanderiaEntities" connectionString="metadata=res://*/Lavanderia.csdl|res://*/Lavanderia.ssdl|res://*/Lavanderia.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dataserver;initial catalog=LBDATPRO;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>